---
import Link from "@components/Link.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import * as m from "@messages/messages";

const description = m.not_found_description();
const pageNotFound = m.not_found();
const solutionIntro = m.not_found_solution_intro();
const here = m.here();

const { currentLocale } = Astro;
---

<BaseLayout description={description} pageTitle="404">
  <section class="mt-12">
    <h1 class="text-3xl font-bold">404</h1>
    <h2 class="text-2xl font-bold [font-variant-caps:small-caps]">
      {pageNotFound}
    </h2>
    <p>
      {description}! {solutionIntro}
      <Link href={`/${currentLocale}`}>{here}</Link>.
    </p>
  </section></BaseLayout
>
