---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import * as m from "@messages/messages";
import { Link } from "./";

const designImagesRootPath = "/src/assets/images/design";
const tools = [
  {
    text: "Astro",
    href: "https://astro.build",
    hreflang: "en",
  },
  {
    text: "TailwindCSS",
    href: "https://tailwindcss.com",
    hreflang: "en",
  },
  {
    text: "Paraglide JS",
    href: "https://inlang.com/m/gerre34r/library-inlang-paraglideJs",
    hreflang: "en",
  },
  {
    text: "Nodemailer",
    href: "https://nodemailer.com",
    hreflang: "en",
  },
];

const images = import.meta.glob<{ default: ImageMetadata }>(
  // Note: for some reason cannot use String interpolation/template
  "/src/assets/images/design/*.svg",
);
---

<footer
  class="flex flex-col gap-2 bg-primary-solid px-2 py-4 text-sm text-primary md:px-8"
>
  <div class="flex flex-row items-center justify-between">
    <div>
      <p>&copy; 2024 Luxain Solutions, e.U.</p>
    </div>
    <div>
      <p class="text-center">-- {m.moto()}</p>
    </div>
  </div>
  <hr />
  <div class="flex flex-row items-center gap-1">
    <div class="flex grow flex-row justify-start gap-1 md:justify-center">
      <div>{m.made_with()}</div>
      {
        tools.map(({ href, hreflang, text }) => (
          <Link href={href} hreflang={hreflang} rel="external">
            {text}
          </Link>
        ))
      }
    </div>
    <div>
      <Link
        href="https://github.com/pluxain/luxain.solutions"
        hreflang="en"
        rel="external help nofollow"
      >
        <Image
          src={images[`${designImagesRootPath}/github-mark.svg`]()}
          alt="Github Mark"
          class="h-6 w-6"
        />
      </Link>
    </div>
  </div>
</footer>
