---
import type { GetStaticPaths } from "astro";
import * as m from "@messages/messages";
import { availableLanguageTags } from "@messages/runtime";
import BaseLayout from "@layouts/BaseLayout.astro";

const description = `${m.who_am_i()}, ${m.what_am_i()} ${m.aye_captain().toLocaleLowerCase()} ${m.what_can_i_do_for_you()}`;
const pageTitle = m.where_do_i_work();

const services = [
  m.software_development(),
  m.project_management(),
  m.counseling(),
];

export const getStaticPaths = (async () => {
  return availableLanguageTags.map((lang) => ({
    params: { lang },
  }));
}) satisfies GetStaticPaths;
---

<BaseLayout description={description} pageTitle={pageTitle}>
  <section class="w-full text-center md:m-auto md:w-96">
    <h1 class="py-10 text-2xl font-bold [font-variant-caps:small-caps]">
      {pageTitle}
    </h1>
    <h2 class="text-xl">{m.who_am_i()}</h2>
    <h3>-- {m.what_am_i()}</h3>
    <blockquote class="py-2 text-2xl italic">{m.aye_captain()}</blockquote>
    <ul class="flex w-full flex-col gap-2 py-4 font-bold">
      {
        services.map((service) => (
          <li class="p-4 text-center odd:bg-blue-50 odd:text-blue-500 even:bg-blue-500 even:text-blue-50 hover:bg-green-500 hover:text-white">
            {service}
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
