---
import * as m from "@messages/messages";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";

type Props = {
  description: string;
  pageTitle: string;
  robots?: string;
};

const { currentLocale, props } = Astro;
const { description, pageTitle, robots = "index, follow" } = props;
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content={m.who_am_i()} />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content={robots} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
  </head>
  <body class="flex h-screen flex-col justify-between">
    <Header />
    <main class="px-4">
      <slot />
    </main>
    <Footer />
  </body>
</html>
